@font-face {
    font-family: 'italic-vol';
    src: url('../FONT/Vollkorn/Vollkorn_italic.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'normal-vol';
    src: url(../FONT/Vollkorn/Vollkorn-VariableFont_wght.ttf) format('opentype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'numero';
    src: url(../FONT/stohr_numbers/Stoehr\ Numbers.ttf);
    font-weight: normal;
}
*{
    font-family: 'normal-vol';
    margin: 0px;
    padding: 0%;
}
img{
    width: 100%;
    max-width: 100%;
    border-radius: 5px;

}
p{
    font-size: 1.5em;
}
.container{
    display: grid;
    grid-template-areas:
    "header header header"
    "aside  conteudo anuncio"
    "footer footer footer"
    ;   grid-template-columns: minmax(200px, auto) auto 300px;
    
}
.caracteristicas{
    display: flex;
}
.peso{
    margin-left: 25px;
}
.numero1{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: block;
    background: linear-gradient(20deg,#8844ee, #b07dfb);
    font-size: 3em;
    text-align: center;
    color: rgb(191, 147, 248);
    box-shadow: 1px 1px 4px black;
    margin-bottom: 6px;
    
}
.rotulo1{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(191, 106, 248);
    box-shadow: 1px 1px 4px black;
    padding: 5px 25px;
    background-color: rgb(255, 255, 255);
    font-size: 1em;
}
.age{
    margin-left: 50px;
    text-align: center;
}
.numero{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: block;
    background: linear-gradient(20deg,#8844ee, #b07dfb);
    font-size: 3em;
    text-align: center;
    color: rgb(191, 147, 248);
    box-shadow: 1px 1px 4px black;
    margin-bottom: 6px;
}
.rotulo{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(191, 106, 248);
    box-shadow: 1px 1px 4px black;
    padding: 5px 25px;
    background-color: rgb(255, 255, 255);
    font-size: 1em;
}
.header{
    grid-area: header;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    display: grid;
    grid-template-columns: minmax(100px 1fr) 1fr;
    padding: 0px;
    align-items: center;
}
.header > img{
    width: 250px;
    margin: 15px;
}
.header > ul{
    padding-bottom: 20px;
    margin-left: auto;
    list-style-type: none;
}
.header li{
    display: inline;
    padding-left: 10px;
    
}
.header ul li a{
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgba(148, 72, 247, 0.445);

    

}
.header ul li a:hover{
    background-color: rgb(152, 73, 255);

}
.aside{
    grid-area: aside;
    background-color: #FAFBFC;
    padding-right: auto;
    margin-left: auto;
}
.aside img{
    background-color: rgb(255, 255, 255);
    width: 90px;
    display: block;
    margin: 21px auto;
    box-shadow: 1px 0.1px 5px rgba(0, 0, 0, 0.342);
    padding: 15px;
}
.aside img:hover{
    background-color: #af7dfb98;
}
.conteudo{
    margin: 0px auto;
    grid-area: conteudo;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
    padding: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    grid-template-rows: auto auto auto;

}
/*essas duas barras servem para dizer 
que o item vai se expandir pelas colunas 
from  /  to  
ou seja da 1 para a -1 (-1 quer dizer expanda o maxixo)
*/
.ocupa2colunas{
    grid-column: 1 / -1;
}

.f{
    grid-column: 2;
    grid-row: 3;
    color: rgb(255, 0, 255);
    font-weight: 1;
    font-style: italic;
    line-height: 29px;
}
.lobo2{
    grid-column: 2 ;
    grid-row: span;
}
.abaixo_lobo2{
    grid-column: 2;
    grid-row: 5;
}
.abaixo_lobo1{
    grid-row: 5;
}
.lobo1{
    grid-row: 3 / 5;
    max-height: auto;
}
.ROXO{
    color: white;
    background: linear-gradient(30deg,#8844ee, #b07dfb) ;
    font-size: 1.5em;
    font-family: italic-vol;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.842);
}
.roxo_mono{
    padding: 25px;
    color: white;
    background: linear-gradient(130deg,#976adb, #b07dfb);
    font-family: monospace;
    letter-spacing: 2px;
    font-size: 1.8em;   
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;

}
.roxo_mono ul{
    list-style-type: none;
    padding-top: 25px;
}
.roxo_mono ul li{
    padding-bottom: 10px;
}
.span h1{
    color: #B07DFB;
    font-size: 4em;
    letter-spacing: 5px;
}
.span p{
    color: blueviolet;
    font-size: 1em;
}
footer{
    grid-area: footer;
    background: linear-gradient(130deg, #8844ee, #b07dfb);
    padding-bottom: 150px;
    text-align: center;
}
.anuncios{
    grid-area: anuncio;
    margin-left: 10px; 
}
.scroll{
    overflow-x: auto;
}
[data-anima]{
    transition: 1s;
    opacity: 0;
}
[data-anima="right"]{
  
    transform: translate3d(-50px,0px,0);
    
}
[data-anima="left"]{
    transform: translate3d(50px,0,0);
}
[data-anima].animado{
    opacity: 1;
    transform: translate3d(0px, 0px , 0px);
}

.pop{
    margin: 0px auto;
    width: 100%;
    height: 150px;
    position: fixed;
    background-color: #ffffff;
    bottom: 0%;
    box-shadow: 2px 1px 5px black;
    display: flex;
    justify-content: center;
}
#content{
    padding: 20px;
}
#content > h3{
    font-weight: normal;
    font-size: 1.4em;
}
#content > form{
    margin: 20px 0px;
    font-size: 1.4em;
}
#btn{
    display: block;
    margin: 0px 200px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 110, 255, 0.555);
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;

}
.remove_pop{
    display: none;
    padding: 0%;
    margin: 0%;
    width: 0;
    height: 0%;
    max-width: 0;
}

@media(max-width: 900px){
    .container{

        grid-gap: 0cm;
        display: grid;
        grid-template-areas:
        "header"
        "aside"
        "conteudo"
        "anuncios"
        "footer"
        ;   grid-template-columns: auto;
    }
    .conteudo{
        padding: 0%;
        max-width: 100%;
        grid-area: conteudo;
        background-color: white;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    
    }
    .anuncios{
        grid-area: anuncios;
    }
    .scroll,.aside{
        grid-area: aside;
        padding: 0%;
        margin: 0% auto;
        display: flex;
    }
    .aside img{
        display: inline-block;
        padding: 25px;
        margin-left: 5px
    }
    .f{
        font-size: 1em;
        font-weight: 0;
    }
    .header{
        grid-template-columns: minmax(100px, auto);
    }
    .header ul{
        margin: 0px;
        padding-top: 5px;
    }
    .header ul li a{
        background-color: rgb(183, 108, 253);
    }
    .ocupa2colunas{
        grid-column: 1;
    }
    .f{
        grid-column: 1;
        grid-row: auto;
        color: rgb(255, 0, 255);
        font-weight: 1;
        font-style: italic;
        line-height: 29px;
    }
    .lobo1{
        grid-row: 4;

    }
    .lobo2{
        grid-column: 1;
        grid-row: auto;
    }
    .abaixo_lobo2{
        grid-column: 1;
        grid-row: 9;
        
    }
    .roxo_mono{
        grid-column: 1;
        grid-row: 11;
        color: white;
        background: linear-gradient(130deg,#976adb, #b07dfb);
        font-family: monospace;
        letter-spacing: 2px;
        font-size: 1.8em;   
        border-radius: 5px;
        box-shadow: 2px 2px 10px black;
    
    }
    .lado_lista{
        grid-column:1;
        grid-row: 12;
    }
    .caracteristicas{
        grid-column: 1;
    }
    .anuncios{
        margin-left: 4px;
        margin-top: 10px;
    }
    footer{
        grid-area: footer;
        background: linear-gradient(130deg, #8844ee, #b07dfb);
        padding-bottom: 150px;
    }
    .first_text{
        grid-row: 3;
    }
    .wolf_fun{
        grid-row: 13;
    }
   
    
     .caracteristicas{
        display: flex;
        grid-row: 2;
    }

.pop{
    height: 250px;
    
}
#content{
    text-align: center;
    }
#content a{
    color: #0004ffb0;
    padding-left: 230px;
}
[data-anima]{
    transition: 1s;
    opacity: 0.5;
}
[data-anima="right"]{
  
    transform: translate3d(0px,0px,0);
    
}
[data-anima="left"]{
    transform: translate3d(0px,0,0);
}
[data-anima].animado{
    opacity: 1;
    transform: translate3d(0px, 0px , 0px);
}

}

